<!-- 4. edit_blog.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Edit Blog</title></head>
<body>
<h1>Edit Blog</h1>
<form th:action="@{/blogs/update}" method="post" th:object="${blog}">
  <input type="hidden" th:field="*{id}"/>
  Title: <input type="text" th:field="*{title}"/><br>
  Author: <input type="text" th:field="*{author}"/><br>
  Content: <textarea th:field="*{content}" rows="10"></textarea><br>
  <button type="submit">Update</button>
</form>
<a href="/blogs">Back to Blogs</a>
</body>
</html>
